/*reset*/

* {
  margin: 0;
  padding: 0;
}
/* */
body {
  width: 960px;
  margin: 0 auto;
  }
/* header */

.header {
  padding: 25px;
  text-align: center;
}

/*content contacts footer position */

.content,
.contacts,
.footer {
  width: 600px;
  margin: 0 auto;
  padding: 15px;
  border-top: 1px solid gray;
}

/*content contacts footer "p" style */

.content p,
.contacts p,
.footer p{
  padding: 10px;
}

/* list style*/
li {
  list-style-position: inside;
  text-align: left;
}
