body{
  width: 700px;
  margin: auto;
  padding-right: 45px;}

.wrapper{
text-align: center;}

.work,
.dream {
  width: 300px;
  margin: 0 auto;
  text-align: center;}

.list-style{
  width: 300px;
  margin: auto;}

li{
  width: 300px;
  margin: auto;
  list-style-position: outside;
  text-align: left;}

.info {
  width: 300px;
  margin: 0 auto;
}

.footer {
  width: 300px;
  text-align: center;
  margin: 0 auto;
}
